
.commentWrapperContent{
    background: #fff;
    width: 750px;
    border: 1px solid #a1a1a1;
    margin: 10px auto 10px auto;
    height: auto;

}

.page-data{
    width: auto;
    height: 50px;
    color:#666;
    margin:10px;
    border-bottom: 1px solid #e1e1e1;
}

.comment-wrapper{
    margin: 10px;
    border: 1px solid #e1e1e1;
    height: auto;
    width: auto;
    color: #fff;
    
}

h3.comment-title{
    height: 20px;
    line-height: 37px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color:#555;
}

.comments-list{
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color: #555;
}

ul.comments-holder-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;

}

ul.comments-holder-ul{

    list-style-type: none;
    height: auto;
    width: auto;

    
}

li.comments-holder{

    height: auto;
     margin-bottom: 45px;
     position: relative;
}

li.comments-holder:hover .comment-buttons-holder{
    display: block;
}

 #poster{
    cursor: pointer;
    float: left;
    height: 60px;
    width: auto;
    background: #efefef;
    
}



.username-field{
    
    cursor: pointer;
    display: inline;
    line-height: 22px;
    color: #41BBED !important;
    bottom: 1000px;
    margin: 0px auto 0 0px;
}

.commenting-text{
    
    float: left;
    width: auto;
    font-size: 11px;
   
}

.comment-body{
    width: auto;
    
}

.poster-username{
    cursor: pointer;
    color: #41BBED !important;
}

#title{
    margin: 10px;
}

.commenting-field{
     margin: 0px 0px 0px 105px;
}

.comment-buttons-holder{
    
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 20px;

}


.comment-buttons-holder ul{
    list-style-type: none;
    width: auto;
    height: auto;
   
}

.comment-buttons-holder li{
    float:right;
    height: 20px;
    width: 20px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    background: #41BBED;
    cursor: pointer;
    border-radius: 2px;
}

.comment-buttons-holder li:hover{
    color: #444;
}


.comment-insert{
    height: 100px;
    width: auto;
    margin: 10px;
    border: 1px solid #e1e1e1;
}
 .h4.who-says{
    width: auto;
    height: 30px;
    line-height: 27px;
    color: #41BBED !important;
    font-size: 14px;
    margin-left: 10px;
}

.comment-insert-container{
    margin: 5px 10px 5px 10px;
    border: 1px solid #e1e1e1;
    width: auto;
    height: 50px;
    min-height: 68px;
}

textarea.comment-insert-text{

    border: none;
    width: 100%;
    height: 65px;

}





