.commentWrapperContent{
    background: #fff;
    width: 790px;
    border: 1px solid #a1a1a1;
    margin: 10px auto 10px auto;
    height: auto;

}

.page-data{
    width: auto;
    height: 50px;
    color:#666;
    margin:10px;
    border-bottom: 1px solid #e1e1e1;
}

.comment-wrapper{
    margin: 10px;
    border: 1px solid #e1e1e1;
    height: auto;
    width: auto;
    color: #fff;
    
}

h3.comment-title{
    height: 40px;
    line-height: 37px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color:#555;
    border-bottom: 1px solid #e1e1e1;
}

.comments-list{
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color: #555;
}

ul.comments-holder-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    overflow: hidden;
}

ul.comments-holder-ul{
    list-style-type: none;
    height: auto;
    width: auto;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
    
}

li.comments-holder{
    height: auto;
     margin: 5px 0px 5px 0px;
     margin-bottom: 45px;
     
}

li.comments-holder:hover{

}

 #poster{
    
    float: left;
    height: 60px;
    width: auto;
    background: #efefef;
    
}



.username-field{

    display: inline;
    line-height: 22px;
    color: #41BBED !important;
    font-size: 11px;
    margin: 0 auto 0 0px;
}

.commenting-text{
    float: left;
    width: auto;
    font-size: 11px;
}

.comment-body{
    width: auto;
    
}

.poster-username{
    color: #41BBED !important;
}

#title{
    margin: 10px;
}


