

#wrapper{
    width: 90%;
    max-width: 1920px;
    min-width: 400px;
    margin: 50px auto;

}

#columns{
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -column-count: 2;
    -column-gap: 10px;
    -column-fill: auto;
}


.grid{
    display: inline-block;
    background-color: #efefef;
    box-shadow: 0 1px 2px RABA(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -column-break-inside: avoid;
    padding-bottom: 5px;
    opacity: 1;
    -web-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border-radius: 20px;
    }
 
 .grid:hover{
    background-color: #EAC398;
}   
.grid img{
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
    }

grid p{
    font: 12px/18px Arial, sans-serif;
    margin: 10px;

}

@media (min-width: 560px){
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -column-count: 3;
    }
}

@media (min-width: 780px){
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        -column-count: 4;
    }
}

@media (min-width: 1100px){
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        -column-count: 5;
    }
}