#sidenav{
    top: 44%;
    margin-left: 63%;
    position: fixed;
    background: #FFFFFF;
    padding: 0px;
    width: 17%;
    border-radius: 15px;
}

th{
    background: #EFEFEF;
   
}

#searchbar{
    margin-right: 19.5%;
}

#navbartext{
    margin-right: 19.5%;
}

#icon{
    margin-left: 19.5%;
}



