body{
    background-color: #EAE0D7;
}

#sideNavLink{
    color: black;
}
#poster{
    float: left;
    width: 7%;
    margin: 7px;
}
#banner{

    height: 200px;
    width: 100%;
    
    z-index: -2;
}

#banner_section{
        z-index: -3;
    background-color: #fff;
    height: 30%;
    width: 100%;


}


#profile_picture{

    position: absolute;
    top: 20%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10000px;
    border: solid 2px #fff;
    height: 18%;
   
}
#sidelink{
    color: black;
}
#poster_section{
        margin-top: 20px;
}

#poster_section h4{
        color:#000;
}
.grid h4, h5{
    display: inline-block;
    margin: 0;
    
}

#name_banner{
    position: absolute;
     margin-left: 17%;
    margin-top: 20px;

}

#navid{

    width: auto;
    height: auto;
    background: #fff;
    position: fixed;
    box-shadow: 5px 5px 5px #888888;
    margin-left: 65%;
    margin-top: 8%;
}

#nav_option{
    width: 12%;
    height: auto;
    background: #fff;
    position: fixed;
    box-shadow: 5px 5px 5px #888888;
    margin-left: 65%;
    margin-top: 20%;
}

#table_home{
    margin: 0;
}

#nav2 ul{
    float: right;
}

#icon{
    float: left;
    margin-right: 2%;
}



th{
    color: #fff;
}

#searchbar{
    width: 48%;
    float: left;
    margin: 0;
    display: inline-block;
    padding: 0;
}

#wrapper{
    width: 60%;
    max-width: 1920px;
    min-width: 400px;
    margin: 50px auto;
    margin-top: 0;

}


#columns{
    font-size: 0px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -column-count: 1;
        padding: 0;
        width: 100%;


}

#modalcontent_details{
    background: #000;
    height: auto;
}

#modalcontent_details h1{
    background: #000;
    color: #fff;
    margin: 0;
}

#details{
    border-radius: 0;
}

#front_details{
    background: black;
    opacity: .5;
    width: 20%;
    position: absolute;
}




#front_details h4 , h1{
    margin: 0;
    display: inline-block;
    color: #000;
}
.grid{
        display: inline-block;
        background-color: #efefef;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -column-break-inside: avoid;
        opacity: 1;
        -web-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: 100%;
        margin-top: 10px;
 
    
    }
 
h4#title{
    width: 100%;
    margin-left: 1%;
    color: grey;
}
.grid img{
        width: 100%;
    }
.grid h4{
    color: #fff;
}
#rating{
    float: right;
    width: 40%;
}

#rating_modal{
    width: 20%;
    float: right;
}

#modal_description{
    display: inline-block;
}

@media (min-width: 560px){

.grid{
        display: inline-block;
        background-color: #000;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -column-break-inside: avoid;
        opacity: 1;
        -web-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: 90%;    
    
    }
}

@media (min-width: 780px){
    
.grid{
        display: inline-block;
        background-color: #000;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -column-break-inside: avoid;
        opacity: 1;
        -web-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: 80%; 
    
    } 

}

@media (min-width: 1100px){

.grid{
        display: inline-block;
        background-color: #fff;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        -column-break-inside: avoid;
        opacity: 1;
        -web-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        width: 70%;
        margin-top: 1%;
    
    } 
    
}



