body{
    background-color: #EAE0D7;
}

div.alert {
    margin-top: 4px;
    margin-bottom: 0px;
    display: none;
}

div.form-group {
    margin-bottom: 4px;
}

iframe{
    margin: 0 auto;
    padding: 0;
    width:100%;
    height: 450px;
    border-radius: 15px;
}

#signup{
    background: black;
}

#modalcontent{
 
}
.margin-right
{
    margin-right: 15px;
}


