body{
    background: #EAE0D7;
}

#navbar
{
    background-color: #303030;
	border-radius: 0px;
	color: white;
    font-size: large;
}
#navbartext
{
    float: right;
}
#searchbar
{
    float: right;
    width: 15%;
}
#{
    color: black;
}
