body{
    background: #EAE0D7;
}

#navbar
{
    background-color: #303030;
	border-radius: 0px;
	color: white;
    font-size: large;
}
#navbartext
{
    float: right;
        margin-right: 5%;
}
#searchbar
{
    float: right;
    width: 15%;
}

#searchbarBackend
{
    float: right;
    width: 15%;
    margin-right: 5%;
}
#modalcontent{
 background: #000000;

}
#modalcontentFront{
    background: #FFFFFF;
}

#signupContent{
    margin: 2%;
}
#navbar{
    background: #36BDEF;
    border: none;
}
a:{
    color: #fff;
}

#navLink{
    color: #fff;
}

#createProfile{
    float: right;
    margin-bottom: 100%;
    width: 10%;
}

#profilePicture{
    margin: 0;
    display: inline;
}

#rating_modal{
    width: 15%;
    float: right;
    margin-right: 7px;
}

#quote{
    float: left;
    font-size: 1.5em;
    margin-left: 1%;
    margin-top: 2%;
}
#icon{
    float:left;
    margin-left: 5%;
}

#modalH2, #modalP{
    color: #FFFFFF;
}